html {
    font-family: 'Josefin Sans', sans-serif;
}

nav,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
}

nav {
    position: relative;
    width: 100%;
}

img {
    width: 130%;
}

.nav_main {
    float: left;
    margin: 70px;
}

.nav_menu {
    float: right;
    margin: 80px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: white;
}

.footer_button {
    display: inline-block;
    vertical-align: middle;
    padding: 2%;
}

.section {
    /* margin: 0 auto; */
    /* width: 35%; */
    text-align: center;
}

.section_btn {
    display: inline-block;
    padding: 1%;
    position: relative;
    padding: 1%;
    bottom: 275px;
}

.section_btn_img {
    width: 100%;
}

.section_main {
    width: 45%;
    display: inline-block;
    margin-top: 7%;
}